body {
background: #ffffff;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
 }
.canvas{
width: 1140px;
height: 1020px;
}
.pixel{
width: 30px;
 height: 30px;
 float: right;
}
    .pixel:nth-child(119) {
 background: #FFFFFF;}
 .pixel:nth-child(120) {
 background: #FFFFFF;}
 .pixel:nth-child(121) {
 background: #FFFFFF;}
 .pixel:nth-child(122) {
 background: #FFFFFF;}
 .pixel:nth-child(123) {
 background: #FFFFFF;}
 .pixel:nth-child(124) {
 background: #FFFFFF;}
 .pixel:nth-child(125) {
 background: #FFFFFF;}
 .pixel:nth-child(126) {
 background: #FFFFFF;}
 .pixel:nth-child(127) {
 background: #FFFFFF;}
 .pixel:nth-child(128) {
 background: #FFFFFF;}
 .pixel:nth-child(138) {
 background: #FFFFFF;}
 .pixel:nth-child(139) {
 background: #FFFFFF;}
 .pixel:nth-child(140) {
 background: #FFFFFF;}
 .pixel:nth-child(141) {
 background: #FFFFFF;}
 .pixel:nth-child(142) {
 background: #FFFFFF;}
 .pixel:nth-child(143) {
 background: #FFFFFF;}
 .pixel:nth-child(144) {
 background: #FFFFFF;}
 .pixel:nth-child(145) {
 background: #FFFFFF;}
 .pixel:nth-child(146) {
 background: #FFFFFF;}
 .pixel:nth-child(147) {
 background: #FFFFFF;}
 .pixel:nth-child(155) {
 background: #004D99;}
 .pixel:nth-child(157) {
 background: #FFFFFF;}
 .pixel:nth-child(158) {
 background: #FFFFFF;}
 .pixel:nth-child(159) {
 background: #FFFFFF;}
 .pixel:nth-child(160) {
 background: #FFFFFF;}
 .pixel:nth-child(161) {
 background: #FFFFFF;}
 .pixel:nth-child(162) {
 background: #FFFFFF;}
 .pixel:nth-child(163) {
 background: #FFFFFF;}
 .pixel:nth-child(164) {
 background: #FFFFFF;}
 .pixel:nth-child(165) {
 background: #FFFFFF;}
 .pixel:nth-child(166) {
 background: #FFFFFF;}
 .pixel:nth-child(168) {
 background: #004D99;}
 .pixel:nth-child(174) {
 background: #004D99;}
 .pixel:nth-child(176) {
 background: #FFFFFF;}
 .pixel:nth-child(177) {
 background: #FFFFFF;}
 .pixel:nth-child(178) {
 background: #FFFFFF;}
 .pixel:nth-child(179) {
 background: #FFFFFF;}
 .pixel:nth-child(180) {
 background: #FFFFFF;}
 .pixel:nth-child(181) {
 background: #FFFFFF;}
 .pixel:nth-child(182) {
 background: #FFFFFF;}
 .pixel:nth-child(183) {
 background: #FFFFFF;}
 .pixel:nth-child(184) {
 background: #FFFFFF;}
 .pixel:nth-child(185) {
 background: #FFFFFF;}
 .pixel:nth-child(187) {
 background: #004D99;}
 .pixel:nth-child(193) {
 background: #004D99;}
 .pixel:nth-child(194) {
 background: #004D99;}
 .pixel:nth-child(195) {
 background: #99CEFF;}
 .pixel:nth-child(196) {
 background: #FFFFFF;}
 .pixel:nth-child(197) {
 background: #FFFFFF;}
 .pixel:nth-child(198) {
 background: #FFFFFF;}
 .pixel:nth-child(199) {
 background: #FFFFFF;}
 .pixel:nth-child(200) {
 background: #FFFFFF;}
 .pixel:nth-child(201) {
 background: #FFFFFF;}
 .pixel:nth-child(202) {
 background: #FFFFFF;}
 .pixel:nth-child(203) {
 background: #FFFFFF;}
 .pixel:nth-child(204) {
 background: #99CEFF;}
 .pixel:nth-child(205) {
 background: #004D99;}
 .pixel:nth-child(206) {
 background: #004D99;}
 .pixel:nth-child(212) {
 background: #004D99;}
 .pixel:nth-child(213) {
 background: #004D99;}
 .pixel:nth-child(214) {
 background: #99CEFF;}
 .pixel:nth-child(215) {
 background: #FFFFFF;}
 .pixel:nth-child(216) {
 background: #FFFFFF;}
 .pixel:nth-child(217) {
 background: #FFFFFF;}
 .pixel:nth-child(218) {
 background: #FFFFFF;}
 .pixel:nth-child(219) {
 background: #FFFFFF;}
 .pixel:nth-child(220) {
 background: #FFFFFF;}
 .pixel:nth-child(221) {
 background: #FFFFFF;}
 .pixel:nth-child(222) {
 background: #FFFFFF;}
 .pixel:nth-child(223) {
 background: #99CEFF;}
 .pixel:nth-child(224) {
 background: #004D99;}
 .pixel:nth-child(225) {
 background: #004D99;}
 .pixel:nth-child(231) {
 background: #004D99;}
 .pixel:nth-child(232) {
 background: #004D98;}
 .pixel:nth-child(233) {
 background: #99CEFF;}
 .pixel:nth-child(234) {
 background: #99CEFF;}
 .pixel:nth-child(235) {
 background: #99CEFF;}
 .pixel:nth-child(236) {
 background: #99CEFF;}
 .pixel:nth-child(239) {
 background: #99CEFF;}
 .pixel:nth-child(240) {
 background: #99CEFF;}
 .pixel:nth-child(241) {
 background: #99CEFF;}
 .pixel:nth-child(242) {
 background: #99CEFF;}
 .pixel:nth-child(243) {
 background: #004D99;}
 .pixel:nth-child(244) {
 background: #004D99;}
 .pixel:nth-child(250) {
 background: #004D99;}
 .pixel:nth-child(251) {
 background: #004D98;}
 .pixel:nth-child(252) {
 background: #99CEFF;}
 .pixel:nth-child(253) {
 background: #99CEFF;}
 .pixel:nth-child(254) {
 background: #99CEFF;}
 .pixel:nth-child(255) {
 background: #99CEFF;}
 .pixel:nth-child(258) {
 background: #99CEFF;}
 .pixel:nth-child(259) {
 background: #99CEFF;}
 .pixel:nth-child(260) {
 background: #99CEFF;}
 .pixel:nth-child(261) {
 background: #99CEFF;}
 .pixel:nth-child(262) {
 background: #004D99;}
 .pixel:nth-child(263) {
 background: #004D99;}
 .pixel:nth-child(270) {
 background: #004D97;}
 .pixel:nth-child(271) {
 background: #99CEFF;}
 .pixel:nth-child(272) {
 background: #99CEFF;}
 .pixel:nth-child(273) {
 background: #99CEFF;}
 .pixel:nth-child(278) {
 background: #99CEFF;}
 .pixel:nth-child(279) {
 background: #99CEFF;}
 .pixel:nth-child(280) {
 background: #99CEFF;}
 .pixel:nth-child(281) {
 background: #004D99;}
 .pixel:nth-child(289) {
 background: #004D97;}
 .pixel:nth-child(290) {
 background: #99CEFF;}
 .pixel:nth-child(291) {
 background: #99CEFF;}
 .pixel:nth-child(292) {
 background: #99CEFF;}
 .pixel:nth-child(297) {
 background: #99CEFF;}
 .pixel:nth-child(298) {
 background: #99CEFF;}
 .pixel:nth-child(299) {
 background: #99CEFF;}
 .pixel:nth-child(300) {
 background: #004D99;}
 .pixel:nth-child(308) {
 background: #004D96;}
 .pixel:nth-child(309) {
 background: #99CEFF;}
 .pixel:nth-child(310) {
 background: #99CEFF;}
 .pixel:nth-child(317) {
 background: #99CEFF;}
 .pixel:nth-child(318) {
 background: #99CEFF;}
 .pixel:nth-child(319) {
 background: #004D99;}
 .pixel:nth-child(327) {
 background: #004D96;}
 .pixel:nth-child(328) {
 background: #99CEFF;}
 .pixel:nth-child(329) {
 background: #99CEFF;}
 .pixel:nth-child(336) {
 background: #99CEFF;}
 .pixel:nth-child(337) {
 background: #99CEFF;}
 .pixel:nth-child(338) {
 background: #004D99;}
 .pixel:nth-child(346) {
 background: #004D95;}
 .pixel:nth-child(347) {
 background: #99CEFF;}
 .pixel:nth-child(348) {
 background: #99CEFF;}
 .pixel:nth-child(349) {
 background: #FFFFFF;}
 .pixel:nth-child(353) {
 background: #FFFFFF;}
 .pixel:nth-child(355) {
 background: #99CEFF;}
 .pixel:nth-child(356) {
 background: #99CEFF;}
 .pixel:nth-child(357) {
 background: #004D99;}
 .pixel:nth-child(365) {
 background: #004D95;}
 .pixel:nth-child(366) {
 background: #99CEFF;}
 .pixel:nth-child(367) {
 background: #99CEFF;}
 .pixel:nth-child(368) {
 background: #FFFFFF;}
 .pixel:nth-child(372) {
 background: #FFFFFF;}
 .pixel:nth-child(374) {
 background: #99CEFF;}
 .pixel:nth-child(375) {
 background: #99CEFF;}
 .pixel:nth-child(376) {
 background: #004D99;}
 .pixel:nth-child(384) {
 background: #004D94;}
 .pixel:nth-child(385) {
 background: #99CEFF;}
 .pixel:nth-child(386) {
 background: #99CEFF;}
 .pixel:nth-child(387) {
 background: #99CEFF;}
 .pixel:nth-child(388) {
 background: #99CEFF;}
 .pixel:nth-child(389) {
 background: #99CEFF;}
 .pixel:nth-child(390) {
 background: #99CEFF;}
 .pixel:nth-child(391) {
 background: #99CEFF;}
 .pixel:nth-child(392) {
 background: #99CEFF;}
 .pixel:nth-child(393) {
 background: #99CEFF;}
 .pixel:nth-child(394) {
 background: #99CEFF;}
 .pixel:nth-child(395) {
 background: #004D99;}
 .pixel:nth-child(403) {
 background: #004D94;}
 .pixel:nth-child(404) {
 background: #99CEFF;}
 .pixel:nth-child(405) {
 background: #99CEFF;}
 .pixel:nth-child(406) {
 background: #99CEFF;}
 .pixel:nth-child(407) {
 background: #99CEFF;}
 .pixel:nth-child(408) {
 background: #99CEFF;}
 .pixel:nth-child(409) {
 background: #99CEFF;}
 .pixel:nth-child(410) {
 background: #99CEFF;}
 .pixel:nth-child(411) {
 background: #99CEFF;}
 .pixel:nth-child(412) {
 background: #99CEFF;}
 .pixel:nth-child(413) {
 background: #99CEFF;}
 .pixel:nth-child(414) {
 background: #004D99;}
 .pixel:nth-child(423) {
 background: #004D99;}
 .pixel:nth-child(424) {
 background: #99CEFF;}
 .pixel:nth-child(425) {
 background: #99CEFF;}
 .pixel:nth-child(426) {
 background: #99CEFF;}
 .pixel:nth-child(427) {
 background: #99CEFF;}
 .pixel:nth-child(428) {
 background: #99CEFF;}
 .pixel:nth-child(429) {
 background: #99CEFF;}
 .pixel:nth-child(430) {
 background: #99CEFF;}
 .pixel:nth-child(431) {
 background: #99CEFF;}
 .pixel:nth-child(432) {
 background: #004D99;}
 .pixel:nth-child(442) {
 background: #004D99;}
 .pixel:nth-child(443) {
 background: #99CEFF;}
 .pixel:nth-child(444) {
 background: #99CEFF;}
 .pixel:nth-child(445) {
 background: #99CEFF;}
 .pixel:nth-child(446) {
 background: #99CEFF;}
 .pixel:nth-child(447) {
 background: #99CEFF;}
 .pixel:nth-child(448) {
 background: #99CEFF;}
 .pixel:nth-child(449) {
 background: #99CEFF;}
 .pixel:nth-child(450) {
 background: #99CEFF;}
 .pixel:nth-child(451) {
 background: #004D99;}
 .pixel:nth-child(461) {
 background: #004D98;}
 .pixel:nth-child(462) {
 background: #99CEFF;}
 .pixel:nth-child(463) {
 background: #99CEFF;}
 .pixel:nth-child(464) {
 background: #99CEFF;}
 .pixel:nth-child(465) {
 background: #99CEFF;}
 .pixel:nth-child(466) {
 background: #99CEFF;}
 .pixel:nth-child(467) {
 background: #99CEFF;}
 .pixel:nth-child(468) {
 background: #99CEFF;}
 .pixel:nth-child(469) {
 background: #99CEFF;}
 .pixel:nth-child(470) {
 background: #004D99;}
 .pixel:nth-child(480) {
 background: #004D98;}
 .pixel:nth-child(481) {
 background: #99CEFF;}
 .pixel:nth-child(482) {
 background: #99CEFF;}
 .pixel:nth-child(483) {
 background: #99CEFF;}
 .pixel:nth-child(484) {
 background: #99CEFF;}
 .pixel:nth-child(485) {
 background: #99CEFF;}
 .pixel:nth-child(486) {
 background: #99CEFF;}
 .pixel:nth-child(487) {
 background: #99CEFF;}
 .pixel:nth-child(488) {
 background: #99CEFF;}
 .pixel:nth-child(489) {
 background: #004D99;}
 .pixel:nth-child(500) {
 background: #004D99;}
 .pixel:nth-child(501) {
 background: #004D9A;}
 .pixel:nth-child(502) {
 background: #004D9B;}
 .pixel:nth-child(503) {
 background: #004D9C;}
 .pixel:nth-child(504) {
 background: #004D9D;}
 .pixel:nth-child(505) {
 background: #004D9E;}
 .pixel:nth-child(506) {
 background: #004D9F;}
 .pixel:nth-child(507) {
 background: #004D99;}
 .pixel:nth-child(519) {
 background: #004D99;}
 .pixel:nth-child(520) {
 background: #004D9A;}
 .pixel:nth-child(521) {
 background: #004D9B;}
 .pixel:nth-child(522) {
 background: #004D9C;}
 .pixel:nth-child(523) {
 background: #004D9D;}
 .pixel:nth-child(524) {
 background: #004D9E;}
 .pixel:nth-child(525) {
 background: #004D9F;}
 .pixel:nth-child(526) {
 background: #004D99;}
 .pixel:nth-child(540) {
 background: #004D99;}
 .pixel:nth-child(541) {
 background: #004D99;}
 .pixel:nth-child(542) {
 background: #004D99;}
 .pixel:nth-child(543) {
 background: #004D99;}
 .pixel:nth-child(559) {
 background: #004D99;}
 .pixel:nth-child(560) {
 background: #004D99;}
 .pixel:nth-child(561) {
 background: #004D99;}
 .pixel:nth-child(562) {
 background: #004D99;}
 .pixel:nth-child(765) {
 background: #FFFFFF;}
 .pixel:nth-child(766) {
 background: #FFFFFF;}
 .pixel:nth-child(767) {
 background: #FFFFFF;}
 .pixel:nth-child(768) {
 background: #FFFFFF;}
 .pixel:nth-child(769) {
 background: #FFFFFF;}
 .pixel:nth-child(770) {
 background: #FFFFFF;}
 .pixel:nth-child(771) {
 background: #FFFFFF;}
 .pixel:nth-child(772) {
 background: #FFFFFF;}
 .pixel:nth-child(773) {
 background: #FFFFFF;}
 .pixel:nth-child(774) {
 background: #FFFFFF;}
 .pixel:nth-child(784) {
 background: #FFFFFF;}
 .pixel:nth-child(785) {
 background: #FFFFFF;}
 .pixel:nth-child(786) {
 background: #FFFFFF;}
 .pixel:nth-child(787) {
 background: #FFFFFF;}
 .pixel:nth-child(788) {
 background: #FFFFFF;}
 .pixel:nth-child(789) {
 background: #FFFFFF;}
 .pixel:nth-child(790) {
 background: #FFFFFF;}
 .pixel:nth-child(791) {
 background: #FFFFFF;}
 .pixel:nth-child(792) {
 background: #FFFFFF;}
 .pixel:nth-child(793) {
 background: #FFFFFF;}
 .pixel:nth-child(801) {
 background: #004D99;}
 .pixel:nth-child(803) {
 background: #FFFFFF;}
 .pixel:nth-child(804) {
 background: #FFFFFF;}
 .pixel:nth-child(805) {
 background: #FFFFFF;}
 .pixel:nth-child(806) {
 background: #FFFFFF;}
 .pixel:nth-child(807) {
 background: #FFFFFF;}
 .pixel:nth-child(808) {
 background: #FFFFFF;}
 .pixel:nth-child(809) {
 background: #FFFFFF;}
 .pixel:nth-child(810) {
 background: #FFFFFF;}
 .pixel:nth-child(811) {
 background: #FFFFFF;}
 .pixel:nth-child(812) {
 background: #FFFFFF;}
 .pixel:nth-child(814) {
 background: #004D99;}
 .pixel:nth-child(820) {
 background: #004D99;}
 .pixel:nth-child(822) {
 background: #FFFFFF;}
 .pixel:nth-child(823) {
 background: #FFFFFF;}
 .pixel:nth-child(824) {
 background: #FFFFFF;}
 .pixel:nth-child(825) {
 background: #FFFFFF;}
 .pixel:nth-child(826) {
 background: #FFFFFF;}
 .pixel:nth-child(827) {
 background: #FFFFFF;}
 .pixel:nth-child(828) {
 background: #FFFFFF;}
 .pixel:nth-child(829) {
 background: #FFFFFF;}
 .pixel:nth-child(830) {
 background: #FFFFFF;}
 .pixel:nth-child(831) {
 background: #FFFFFF;}
 .pixel:nth-child(833) {
 background: #004D99;}
 .pixel:nth-child(839) {
 background: #004D99;}
 .pixel:nth-child(840) {
 background: #004D99;}
 .pixel:nth-child(841) {
 background: #99CEFF;}
 .pixel:nth-child(842) {
 background: #FFFFFF;}
 .pixel:nth-child(843) {
 background: #FFFFFF;}
 .pixel:nth-child(844) {
 background: #FFFFFF;}
 .pixel:nth-child(845) {
 background: #FFFFFF;}
 .pixel:nth-child(846) {
 background: #FFFFFF;}
 .pixel:nth-child(847) {
 background: #FFFFFF;}
 .pixel:nth-child(848) {
 background: #FFFFFF;}
 .pixel:nth-child(849) {
 background: #FFFFFF;}
 .pixel:nth-child(850) {
 background: #99CEFF;}
 .pixel:nth-child(851) {
 background: #004D99;}
 .pixel:nth-child(852) {
 background: #004D99;}
 .pixel:nth-child(858) {
 background: #004D99;}
 .pixel:nth-child(859) {
 background: #004D99;}
 .pixel:nth-child(860) {
 background: #99CEFF;}
 .pixel:nth-child(861) {
 background: #FFFFFF;}
 .pixel:nth-child(862) {
 background: #FFFFFF;}
 .pixel:nth-child(863) {
 background: #FFFFFF;}
 .pixel:nth-child(864) {
 background: #FFFFFF;}
 .pixel:nth-child(865) {
 background: #FFFFFF;}
 .pixel:nth-child(866) {
 background: #FFFFFF;}
 .pixel:nth-child(867) {
 background: #FFFFFF;}
 .pixel:nth-child(868) {
 background: #FFFFFF;}
 .pixel:nth-child(869) {
 background: #99CEFF;}
 .pixel:nth-child(870) {
 background: #004D99;}
 .pixel:nth-child(871) {
 background: #004D99;}
 .pixel:nth-child(877) {
 background: #004D99;}
 .pixel:nth-child(878) {
 background: #004D98;}
 .pixel:nth-child(879) {
 background: #99CEFF;}
 .pixel:nth-child(880) {
 background: #99CEFF;}
 .pixel:nth-child(881) {
 background: #99CEFF;}
 .pixel:nth-child(882) {
 background: #99CEFF;}
 .pixel:nth-child(885) {
 background: #99CEFF;}
 .pixel:nth-child(886) {
 background: #99CEFF;}
 .pixel:nth-child(887) {
 background: #99CEFF;}
 .pixel:nth-child(888) {
 background: #99CEFF;}
 .pixel:nth-child(889) {
 background: #004D99;}
 .pixel:nth-child(890) {
 background: #004D99;}
 .pixel:nth-child(896) {
 background: #004D99;}
 .pixel:nth-child(897) {
 background: #004D98;}
 .pixel:nth-child(898) {
 background: #99CEFF;}
 .pixel:nth-child(899) {
 background: #99CEFF;}
 .pixel:nth-child(900) {
 background: #99CEFF;}
 .pixel:nth-child(901) {
 background: #99CEFF;}
 .pixel:nth-child(904) {
 background: #99CEFF;}
 .pixel:nth-child(905) {
 background: #99CEFF;}
 .pixel:nth-child(906) {
 background: #99CEFF;}
 .pixel:nth-child(907) {
 background: #99CEFF;}
 .pixel:nth-child(908) {
 background: #004D99;}
 .pixel:nth-child(909) {
 background: #004D99;}
 .pixel:nth-child(916) {
 background: #004D97;}
 .pixel:nth-child(917) {
 background: #99CEFF;}
 .pixel:nth-child(918) {
 background: #99CEFF;}
 .pixel:nth-child(919) {
 background: #99CEFF;}
 .pixel:nth-child(924) {
 background: #99CEFF;}
 .pixel:nth-child(925) {
 background: #99CEFF;}
 .pixel:nth-child(926) {
 background: #99CEFF;}
 .pixel:nth-child(927) {
 background: #004D99;}
 .pixel:nth-child(935) {
 background: #004D97;}
 .pixel:nth-child(936) {
 background: #99CEFF;}
 .pixel:nth-child(937) {
 background: #99CEFF;}
 .pixel:nth-child(938) {
 background: #99CEFF;}
 .pixel:nth-child(943) {
 background: #99CEFF;}
 .pixel:nth-child(944) {
 background: #99CEFF;}
 .pixel:nth-child(945) {
 background: #99CEFF;}
 .pixel:nth-child(946) {
 background: #004D99;}
 .pixel:nth-child(954) {
 background: #004D96;}
 .pixel:nth-child(955) {
 background: #99CEFF;}
 .pixel:nth-child(956) {
 background: #99CEFF;}
 .pixel:nth-child(963) {
 background: #99CEFF;}
 .pixel:nth-child(964) {
 background: #99CEFF;}
 .pixel:nth-child(965) {
 background: #004D99;}
 .pixel:nth-child(973) {
 background: #004D96;}
 .pixel:nth-child(974) {
 background: #99CEFF;}
 .pixel:nth-child(975) {
 background: #99CEFF;}
 .pixel:nth-child(982) {
 background: #99CEFF;}
 .pixel:nth-child(983) {
 background: #99CEFF;}
 .pixel:nth-child(984) {
 background: #004D99;}
 .pixel:nth-child(992) {
 background: #004D95;}
 .pixel:nth-child(993) {
 background: #99CEFF;}
 .pixel:nth-child(994) {
 background: #99CEFF;}
 .pixel:nth-child(995) {
 background: #FFFFFF;}
 .pixel:nth-child(999) {
 background: #FFFFFF;}
 .pixel:nth-child(1001) {
 background: #99CEFF;}
 .pixel:nth-child(1002) {
 background: #99CEFF;}
 .pixel:nth-child(1003) {
 background: #004D99;}
 .pixel:nth-child(1011) {
 background: #004D95;}
 .pixel:nth-child(1012) {
 background: #99CEFF;}
 .pixel:nth-child(1013) {
 background: #99CEFF;}
 .pixel:nth-child(1014) {
 background: #FFFFFF;}
 .pixel:nth-child(1018) {
 background: #FFFFFF;}
 .pixel:nth-child(1020) {
 background: #99CEFF;}
 .pixel:nth-child(1021) {
 background: #99CEFF;}
 .pixel:nth-child(1022) {
 background: #004D99;}
 .pixel:nth-child(1030) {
 background: #004D94;}
 .pixel:nth-child(1031) {
 background: #99CEFF;}
 .pixel:nth-child(1032) {
 background: #99CEFF;}
 .pixel:nth-child(1033) {
 background: #99CEFF;}
 .pixel:nth-child(1034) {
 background: #99CEFF;}
 .pixel:nth-child(1035) {
 background: #99CEFF;}
 .pixel:nth-child(1036) {
 background: #99CEFF;}
 .pixel:nth-child(1037) {
 background: #99CEFF;}
 .pixel:nth-child(1038) {
 background: #99CEFF;}
 .pixel:nth-child(1039) {
 background: #99CEFF;}
 .pixel:nth-child(1040) {
 background: #99CEFF;}
 .pixel:nth-child(1041) {
 background: #004D99;}
 .pixel:nth-child(1049) {
 background: #004D94;}
 .pixel:nth-child(1050) {
 background: #99CEFF;}
 .pixel:nth-child(1051) {
 background: #99CEFF;}
 .pixel:nth-child(1052) {
 background: #99CEFF;}
 .pixel:nth-child(1053) {
 background: #99CEFF;}
 .pixel:nth-child(1054) {
 background: #99CEFF;}
 .pixel:nth-child(1055) {
 background: #99CEFF;}
 .pixel:nth-child(1056) {
 background: #99CEFF;}
 .pixel:nth-child(1057) {
 background: #99CEFF;}
 .pixel:nth-child(1058) {
 background: #99CEFF;}
 .pixel:nth-child(1059) {
 background: #99CEFF;}
 .pixel:nth-child(1060) {
 background: #004D99;}
 .pixel:nth-child(1069) {
 background: #004D99;}
 .pixel:nth-child(1070) {
 background: #99CEFF;}
 .pixel:nth-child(1071) {
 background: #99CEFF;}
 .pixel:nth-child(1072) {
 background: #99CEFF;}
 .pixel:nth-child(1073) {
 background: #99CEFF;}
 .pixel:nth-child(1074) {
 background: #99CEFF;}
 .pixel:nth-child(1075) {
 background: #99CEFF;}
 .pixel:nth-child(1076) {
 background: #99CEFF;}
 .pixel:nth-child(1077) {
 background: #99CEFF;}
 .pixel:nth-child(1078) {
 background: #004D99;}
 .pixel:nth-child(1088) {
 background: #004D99;}
 .pixel:nth-child(1089) {
 background: #99CEFF;}
 .pixel:nth-child(1090) {
 background: #99CEFF;}
 .pixel:nth-child(1091) {
 background: #99CEFF;}
 .pixel:nth-child(1092) {
 background: #99CEFF;}
 .pixel:nth-child(1093) {
 background: #99CEFF;}
 .pixel:nth-child(1094) {
 background: #99CEFF;}
 .pixel:nth-child(1095) {
 background: #99CEFF;}
 .pixel:nth-child(1096) {
 background: #99CEFF;}
 .pixel:nth-child(1097) {
 background: #004D99;}
 .pixel:nth-child(1107) {
 background: #004D98;}
 .pixel:nth-child(1108) {
 background: #99CEFF;}
 .pixel:nth-child(1109) {
 background: #99CEFF;}
 .pixel:nth-child(1110) {
 background: #99CEFF;}
 .pixel:nth-child(1111) {
 background: #99CEFF;}
 .pixel:nth-child(1112) {
 background: #99CEFF;}
 .pixel:nth-child(1113) {
 background: #99CEFF;}
 .pixel:nth-child(1114) {
 background: #99CEFF;}
 .pixel:nth-child(1115) {
 background: #99CEFF;}
 .pixel:nth-child(1116) {
 background: #004D99;}
 .pixel:nth-child(1126) {
 background: #004D98;}
 .pixel:nth-child(1127) {
 background: #99CEFF;}
 .pixel:nth-child(1128) {
 background: #99CEFF;}
 .pixel:nth-child(1129) {
 background: #99CEFF;}
 .pixel:nth-child(1130) {
 background: #99CEFF;}
 .pixel:nth-child(1131) {
 background: #99CEFF;}
 .pixel:nth-child(1132) {
 background: #99CEFF;}
 .pixel:nth-child(1133) {
 background: #99CEFF;}
 .pixel:nth-child(1134) {
 background: #99CEFF;}
 .pixel:nth-child(1135) {
 background: #004D99;}
 .pixel:nth-child(1146) {
 background: #004D99;}
 .pixel:nth-child(1147) {
 background: #004D9A;}
 .pixel:nth-child(1148) {
 background: #004D9B;}
 .pixel:nth-child(1149) {
 background: #004D9C;}
 .pixel:nth-child(1150) {
 background: #004D9D;}
 .pixel:nth-child(1151) {
 background: #004D9E;}
 .pixel:nth-child(1152) {
 background: #004D9F;}
 .pixel:nth-child(1153) {
 background: #004D99;}
 .pixel:nth-child(1165) {
 background: #004D99;}
 .pixel:nth-child(1166) {
 background: #004D9A;}
 .pixel:nth-child(1167) {
 background: #004D9B;}
 .pixel:nth-child(1168) {
 background: #004D9C;}
 .pixel:nth-child(1169) {
 background: #004D9D;}
 .pixel:nth-child(1170) {
 background: #004D9E;}
 .pixel:nth-child(1171) {
 background: #004D9F;}
 .pixel:nth-child(1172) {
 background: #004D99;}
 .pixel:nth-child(1186) {
 background: #004D99;}
 .pixel:nth-child(1187) {
 background: #004D99;}
 .pixel:nth-child(1188) {
 background: #004D99;}
 .pixel:nth-child(1189) {
 background: #004D99;}
 .pixel:nth-child(1205) {
 background: #004D99;}
 .pixel:nth-child(1206) {
 background: #004D99;}
 .pixel:nth-child(1207) {
 background: #004D99;}
 .pixel:nth-child(1208) {
 background: #004D99;}
 .pixel:nth-child(43) {
 background: #E68A00;}
 .pixel:nth-child(44) {
 background: #E68A00;}
 .pixel:nth-child(45) {
 background: #E68A00;}
 .pixel:nth-child(50) {
 background: #E68A00;}
 .pixel:nth-child(51) {
 background: #E68A00;}
 .pixel:nth-child(52) {
 background: #E68A00;}
 .pixel:nth-child(62) {
 background: #E68A00;}
 .pixel:nth-child(63) {
 background: #E68A00;}
 .pixel:nth-child(64) {
 background: #E68A00;}
 .pixel:nth-child(69) {
 background: #E68A00;}
 .pixel:nth-child(70) {
 background: #E68A00;}
 .pixel:nth-child(71) {
 background: #E68A00;}
 .pixel:nth-child(169) {
 background: #E68A00;}
 .pixel:nth-child(188) {
 background: #E68A00;}
 .pixel:nth-child(207) {
 background: #E68A00;}
 .pixel:nth-child(226) {
 background: #E68A00;}
 .pixel:nth-child(237) {
 background: #E68A00;}
 .pixel:nth-child(238) {
 background: #E68A00;}
 .pixel:nth-child(245) {
 background: #E68A00;}
 .pixel:nth-child(256) {
 background: #E68A00;}
 .pixel:nth-child(257) {
 background: #E68A00;}
 .pixel:nth-child(264) {
 background: #E68A00;}
 .pixel:nth-child(274) {
 background: #E68A00;}
 .pixel:nth-child(275) {
 background: #E68A00;}
 .pixel:nth-child(276) {
 background: #E68A00;}
 .pixel:nth-child(277) {
 background: #E68A00;}
 .pixel:nth-child(293) {
 background: #E68A00;}
 .pixel:nth-child(294) {
 background: #E68A00;}
 .pixel:nth-child(295) {
 background: #E68A00;}
 .pixel:nth-child(296) {
 background: #E68A00;}
 .pixel:nth-child(689) {
 background: #E68A00;}
 .pixel:nth-child(690) {
 background: #E68A00;}
 .pixel:nth-child(691) {
 background: #E68A00;}
 .pixel:nth-child(696) {
 background: #E68A00;}
 .pixel:nth-child(697) {
 background: #E68A00;}
 .pixel:nth-child(698) {
 background: #E68A00;}
 .pixel:nth-child(708) {
 background: #E68A00;}
 .pixel:nth-child(709) {
 background: #E68A00;}
 .pixel:nth-child(710) {
 background: #E68A00;}
 .pixel:nth-child(715) {
 background: #E68A00;}
 .pixel:nth-child(716) {
 background: #E68A00;}
 .pixel:nth-child(717) {
 background: #E68A00;}
 .pixel:nth-child(815) {
 background: #E68A00;}
 .pixel:nth-child(834) {
 background: #E68A00;}
 .pixel:nth-child(853) {
 background: #E68A00;}
 .pixel:nth-child(872) {
 background: #E68A00;}
 .pixel:nth-child(883) {
 background: #E68A00;}
 .pixel:nth-child(884) {
 background: #E68A00;}
 .pixel:nth-child(891) {
 background: #E68A00;}
 .pixel:nth-child(902) {
 background: #E68A00;}
 .pixel:nth-child(903) {
 background: #E68A00;}
 .pixel:nth-child(910) {
 background: #E68A00;}
 .pixel:nth-child(920) {
 background: #E68A00;}
 .pixel:nth-child(921) {
 background: #E68A00;}
 .pixel:nth-child(922) {
 background: #E68A00;}
 .pixel:nth-child(923) {
 background: #E68A00;}
 .pixel:nth-child(939) {
 background: #E68A00;}
 .pixel:nth-child(940) {
 background: #E68A00;}
 .pixel:nth-child(941) {
 background: #E68A00;}
 .pixel:nth-child(942) {
 background: #E68A00;}
 .pixel:nth-child(5) {
 background: #000000;}
 .pixel:nth-child(6) {
 background: #000000;}
 .pixel:nth-child(7) {
 background: #000000;}
 .pixel:nth-child(12) {
 background: #000000;}
 .pixel:nth-child(13) {
 background: #000000;}
 .pixel:nth-child(14) {
 background: #000000;}
 .pixel:nth-child(24) {
 background: #000000;}
 .pixel:nth-child(25) {
 background: #000000;}
 .pixel:nth-child(26) {
 background: #000000;}
 .pixel:nth-child(31) {
 background: #000000;}
 .pixel:nth-child(32) {
 background: #000000;}
 .pixel:nth-child(33) {
 background: #000000;}
 .pixel:nth-child(42) {
 background: #000000;}
 .pixel:nth-child(46) {
 background: #000000;}
 .pixel:nth-child(47) {
 background: #000000;}
 .pixel:nth-child(48) {
 background: #000000;}
 .pixel:nth-child(49) {
 background: #000000;}
 .pixel:nth-child(53) {
 background: #000000;}
 .pixel:nth-child(61) {
 background: #000000;}
 .pixel:nth-child(65) {
 background: #000000;}
 .pixel:nth-child(66) {
 background: #000000;}
 .pixel:nth-child(67) {
 background: #000000;}
 .pixel:nth-child(68) {
 background: #000000;}
 .pixel:nth-child(72) {
 background: #000000;}
 .pixel:nth-child(80) {
 background: #000000;}
 .pixel:nth-child(91) {
 background: #000000;}
 .pixel:nth-child(99) {
 background: #000000;}
 .pixel:nth-child(110) {
 background: #000000;}
 .pixel:nth-child(117) {
 background: #000000;}
 .pixel:nth-child(118) {
 background: #000000;}
 .pixel:nth-child(129) {
 background: #000000;}
 .pixel:nth-child(130) {
 background: #000000;}
 .pixel:nth-child(136) {
 background: #000000;}
 .pixel:nth-child(137) {
 background: #000000;}
 .pixel:nth-child(148) {
 background: #000000;}
 .pixel:nth-child(149) {
 background: #000000;}
 .pixel:nth-child(154) {
 background: #000000;}
 .pixel:nth-child(156) {
 background: #000000;}
 .pixel:nth-child(167) {
 background: #000000;}
 .pixel:nth-child(169) {
 background: #000000;}
 .pixel:nth-child(173) {
 background: #000000;}
 .pixel:nth-child(175) {
 background: #000000;}
 .pixel:nth-child(186) {
 background: #000000;}
 .pixel:nth-child(188) {
 background: #000000;}
 .pixel:nth-child(192) {
 background: #000000;}
 .pixel:nth-child(207) {
 background: #000000;}
 .pixel:nth-child(211) {
 background: #000000;}
 .pixel:nth-child(226) {
 background: #000000;}
 .pixel:nth-child(230) {
 background: #000000;}
 .pixel:nth-child(245) {
 background: #000000;}
 .pixel:nth-child(249) {
 background: #000000;}
 .pixel:nth-child(264) {
 background: #000000;}
 .pixel:nth-child(269) {
 background: #000000;}
 .pixel:nth-child(282) {
 background: #000000;}
 .pixel:nth-child(288) {
 background: #000000;}
 .pixel:nth-child(301) {
 background: #000000;}
 .pixel:nth-child(307) {
 background: #000000;}
 .pixel:nth-child(311) {
 background: #000000;}
 .pixel:nth-child(312) {
 background: #000000;}
 .pixel:nth-child(315) {
 background: #000000;}
 .pixel:nth-child(316) {
 background: #000000;}
 .pixel:nth-child(320) {
 background: #000000;}
 .pixel:nth-child(326) {
 background: #000000;}
 .pixel:nth-child(330) {
 background: #000000;}
 .pixel:nth-child(331) {
 background: #000000;}
 .pixel:nth-child(334) {
 background: #000000;}
 .pixel:nth-child(335) {
 background: #000000;}
 .pixel:nth-child(339) {
 background: #000000;}
 .pixel:nth-child(345) {
 background: #000000;}
 .pixel:nth-child(350) {
 background: #000000;}
 .pixel:nth-child(354) {
 background: #000000;}
 .pixel:nth-child(358) {
 background: #000000;}
 .pixel:nth-child(364) {
 background: #000000;}
 .pixel:nth-child(369) {
 background: #000000;}
 .pixel:nth-child(373) {
 background: #000000;}
 .pixel:nth-child(377) {
 background: #000000;}
 .pixel:nth-child(383) {
 background: #000000;}
 .pixel:nth-child(396) {
 background: #000000;}
 .pixel:nth-child(402) {
 background: #000000;}
 .pixel:nth-child(415) {
 background: #000000;}
 .pixel:nth-child(422) {
 background: #000000;}
 .pixel:nth-child(433) {
 background: #000000;}
 .pixel:nth-child(441) {
 background: #000000;}
 .pixel:nth-child(452) {
 background: #000000;}
 .pixel:nth-child(460) {
 background: #000000;}
 .pixel:nth-child(471) {
 background: #000000;}
 .pixel:nth-child(479) {
 background: #000000;}
 .pixel:nth-child(490) {
 background: #000000;}
 .pixel:nth-child(499) {
 background: #000000;}
 .pixel:nth-child(508) {
 background: #000000;}
 .pixel:nth-child(518) {
 background: #000000;}
 .pixel:nth-child(527) {
 background: #000000;}
 .pixel:nth-child(538) {
 background: #000000;}
 .pixel:nth-child(539) {
 background: #000000;}
 .pixel:nth-child(544) {
 background: #000000;}
 .pixel:nth-child(545) {
 background: #000000;}
 .pixel:nth-child(557) {
 background: #000000;}
 .pixel:nth-child(558) {
 background: #000000;}
 .pixel:nth-child(563) {
 background: #000000;}
 .pixel:nth-child(564) {
 background: #000000;}
 .pixel:nth-child(578) {
 background: #000000;}
 .pixel:nth-child(579) {
 background: #000000;}
 .pixel:nth-child(580) {
 background: #000000;}
 .pixel:nth-child(581) {
 background: #000000;}
 .pixel:nth-child(597) {
 background: #000000;}
 .pixel:nth-child(598) {
 background: #000000;}
 .pixel:nth-child(599) {
 background: #000000;}
 .pixel:nth-child(600) {
 background: #000000;}
 .pixel:nth-child(651) {
 background: #000000;}
 .pixel:nth-child(652) {
 background: #000000;}
 .pixel:nth-child(653) {
 background: #000000;}
 .pixel:nth-child(658) {
 background: #000000;}
 .pixel:nth-child(659) {
 background: #000000;}
 .pixel:nth-child(660) {
 background: #000000;}
 .pixel:nth-child(670) {
 background: #000000;}
 .pixel:nth-child(671) {
 background: #000000;}
 .pixel:nth-child(672) {
 background: #000000;}
 .pixel:nth-child(677) {
 background: #000000;}
 .pixel:nth-child(678) {
 background: #000000;}
 .pixel:nth-child(679) {
 background: #000000;}
 .pixel:nth-child(688) {
 background: #000000;}
 .pixel:nth-child(692) {
 background: #000000;}
 .pixel:nth-child(693) {
 background: #000000;}
 .pixel:nth-child(694) {
 background: #000000;}
 .pixel:nth-child(695) {
 background: #000000;}
 .pixel:nth-child(699) {
 background: #000000;}
 .pixel:nth-child(707) {
 background: #000000;}
 .pixel:nth-child(711) {
 background: #000000;}
 .pixel:nth-child(712) {
 background: #000000;}
 .pixel:nth-child(713) {
 background: #000000;}
 .pixel:nth-child(714) {
 background: #000000;}
 .pixel:nth-child(718) {
 background: #000000;}
 .pixel:nth-child(726) {
 background: #000000;}
 .pixel:nth-child(737) {
 background: #000000;}
 .pixel:nth-child(745) {
 background: #000000;}
 .pixel:nth-child(756) {
 background: #000000;}
 .pixel:nth-child(763) {
 background: #000000;}
 .pixel:nth-child(764) {
 background: #000000;}
 .pixel:nth-child(775) {
 background: #000000;}
 .pixel:nth-child(776) {
 background: #000000;}
 .pixel:nth-child(782) {
 background: #000000;}
 .pixel:nth-child(783) {
 background: #000000;}
 .pixel:nth-child(794) {
 background: #000000;}
 .pixel:nth-child(795) {
 background: #000000;}
 .pixel:nth-child(800) {
 background: #000000;}
 .pixel:nth-child(802) {
 background: #000000;}
 .pixel:nth-child(813) {
 background: #000000;}
 .pixel:nth-child(815) {
 background: #000000;}
 .pixel:nth-child(819) {
 background: #000000;}
 .pixel:nth-child(821) {
 background: #000000;}
 .pixel:nth-child(832) {
 background: #000000;}
 .pixel:nth-child(834) {
 background: #000000;}
 .pixel:nth-child(838) {
 background: #000000;}
 .pixel:nth-child(853) {
 background: #000000;}
 .pixel:nth-child(857) {
 background: #000000;}
 .pixel:nth-child(872) {
 background: #000000;}
 .pixel:nth-child(876) {
 background: #000000;}
 .pixel:nth-child(891) {
 background: #000000;}
 .pixel:nth-child(895) {
 background: #000000;}
 .pixel:nth-child(910) {
 background: #000000;}
 .pixel:nth-child(915) {
 background: #000000;}
 .pixel:nth-child(928) {
 background: #000000;}
 .pixel:nth-child(934) {
 background: #000000;}
 .pixel:nth-child(947) {
 background: #000000;}
 .pixel:nth-child(953) {
 background: #000000;}
 .pixel:nth-child(957) {
 background: #000000;}
 .pixel:nth-child(958) {
 background: #000000;}
 .pixel:nth-child(961) {
 background: #000000;}
 .pixel:nth-child(962) {
 background: #000000;}
 .pixel:nth-child(966) {
 background: #000000;}
 .pixel:nth-child(972) {
 background: #000000;}
 .pixel:nth-child(976) {
 background: #000000;}
 .pixel:nth-child(977) {
 background: #000000;}
 .pixel:nth-child(980) {
 background: #000000;}
 .pixel:nth-child(981) {
 background: #000000;}
 .pixel:nth-child(985) {
 background: #000000;}
 .pixel:nth-child(991) {
 background: #000000;}
 .pixel:nth-child(996) {
 background: #000000;}
 .pixel:nth-child(1000) {
 background: #000000;}
 .pixel:nth-child(1004) {
 background: #000000;}
 .pixel:nth-child(1010) {
 background: #000000;}
 .pixel:nth-child(1015) {
 background: #000000;}
 .pixel:nth-child(1019) {
 background: #000000;}
 .pixel:nth-child(1023) {
 background: #000000;}
 .pixel:nth-child(1029) {
 background: #000000;}
 .pixel:nth-child(1042) {
 background: #000000;}
 .pixel:nth-child(1048) {
 background: #000000;}
 .pixel:nth-child(1061) {
 background: #000000;}
 .pixel:nth-child(1068) {
 background: #000000;}
 .pixel:nth-child(1079) {
 background: #000000;}
 .pixel:nth-child(1087) {
 background: #000000;}
 .pixel:nth-child(1098) {
 background: #000000;}
 .pixel:nth-child(1106) {
 background: #000000;}
 .pixel:nth-child(1117) {
 background: #000000;}
 .pixel:nth-child(1125) {
 background: #000000;}
 .pixel:nth-child(1136) {
 background: #000000;}
 .pixel:nth-child(1145) {
 background: #000000;}
 .pixel:nth-child(1154) {
 background: #000000;}
 .pixel:nth-child(1164) {
 background: #000000;}
 .pixel:nth-child(1173) {
 background: #000000;}
 .pixel:nth-child(1184) {
 background: #000000;}
 .pixel:nth-child(1185) {
 background: #000000;}
 .pixel:nth-child(1190) {
 background: #000000;}
 .pixel:nth-child(1191) {
 background: #000000;}
 .pixel:nth-child(1203) {
 background: #000000;}
 .pixel:nth-child(1204) {
 background: #000000;}
 .pixel:nth-child(1209) {
 background: #000000;}
 .pixel:nth-child(1210) {
 background: #000000;}
 .pixel:nth-child(1224) {
 background: #000000;}
 .pixel:nth-child(1225) {
 background: #000000;}
 .pixel:nth-child(1226) {
 background: #000000;}
 .pixel:nth-child(1227) {
 background: #000000;}
 .pixel:nth-child(1243) {
 background: #000000;}
 .pixel:nth-child(1244) {
 background: #000000;}
 .pixel:nth-child(1245) {
 background: #000000;}
 .pixel:nth-child(1246) {
 background: #000000;}
