body {
background: #ffffff;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
 }
.canvas{
width: 570px;
height: 510px;
}
.pixel{
width: 30px;
 height: 30px;
 float: right;
}
    .pixel:nth-child(63) {
 background: #FFFFFF;}
 .pixel:nth-child(64) {
 background: #FFFFFF;}
 .pixel:nth-child(65) {
 background: #FFFFFF;}
 .pixel:nth-child(66) {
 background: #FFFFFF;}
 .pixel:nth-child(67) {
 background: #FFFFFF;}
 .pixel:nth-child(68) {
 background: #FFFFFF;}
 .pixel:nth-child(69) {
 background: #FFFFFF;}
 .pixel:nth-child(70) {
 background: #FFFFFF;}
 .pixel:nth-child(71) {
 background: #FFFFFF;}
 .pixel:nth-child(72) {
 background: #FFFFFF;}
 .pixel:nth-child(80) {
 background: #004D99;}
 .pixel:nth-child(82) {
 background: #FFFFFF;}
 .pixel:nth-child(83) {
 background: #FFFFFF;}
 .pixel:nth-child(84) {
 background: #FFFFFF;}
 .pixel:nth-child(85) {
 background: #FFFFFF;}
 .pixel:nth-child(86) {
 background: #FFFFFF;}
 .pixel:nth-child(87) {
 background: #FFFFFF;}
 .pixel:nth-child(88) {
 background: #FFFFFF;}
 .pixel:nth-child(89) {
 background: #FFFFFF;}
 .pixel:nth-child(90) {
 background: #FFFFFF;}
 .pixel:nth-child(91) {
 background: #FFFFFF;}
 .pixel:nth-child(93) {
 background: #004D99;}
 .pixel:nth-child(99) {
 background: #004D99;}
 .pixel:nth-child(100) {
 background: #004D99;}
 .pixel:nth-child(101) {
 background: #99CEFF;}
 .pixel:nth-child(102) {
 background: #FFFFFF;}
 .pixel:nth-child(103) {
 background: #FFFFFF;}
 .pixel:nth-child(104) {
 background: #FFFFFF;}
 .pixel:nth-child(105) {
 background: #FFFFFF;}
 .pixel:nth-child(106) {
 background: #FFFFFF;}
 .pixel:nth-child(107) {
 background: #FFFFFF;}
 .pixel:nth-child(108) {
 background: #FFFFFF;}
 .pixel:nth-child(109) {
 background: #FFFFFF;}
 .pixel:nth-child(110) {
 background: #99CEFF;}
 .pixel:nth-child(111) {
 background: #004D99;}
 .pixel:nth-child(112) {
 background: #004D99;}
 .pixel:nth-child(118) {
 background: #004D99;}
 .pixel:nth-child(119) {
 background: #004D99;}
 .pixel:nth-child(120) {
 background: #99CEFF;}
 .pixel:nth-child(121) {
 background: #99CEFF;}
 .pixel:nth-child(122) {
 background: #99CEFF;}
 .pixel:nth-child(123) {
 background: #99CEFF;}
 .pixel:nth-child(126) {
 background: #99CEFF;}
 .pixel:nth-child(127) {
 background: #99CEFF;}
 .pixel:nth-child(128) {
 background: #99CEFF;}
 .pixel:nth-child(129) {
 background: #99CEFF;}
 .pixel:nth-child(130) {
 background: #004D98;}
 .pixel:nth-child(131) {
 background: #004D99;}
 .pixel:nth-child(138) {
 background: #004D99;}
 .pixel:nth-child(139) {
 background: #99CEFF;}
 .pixel:nth-child(140) {
 background: #99CEFF;}
 .pixel:nth-child(141) {
 background: #99CEFF;}
 .pixel:nth-child(146) {
 background: #99CEFF;}
 .pixel:nth-child(147) {
 background: #99CEFF;}
 .pixel:nth-child(148) {
 background: #99CEFF;}
 .pixel:nth-child(149) {
 background: #004D97;}
 .pixel:nth-child(157) {
 background: #004D99;}
 .pixel:nth-child(158) {
 background: #99CEFF;}
 .pixel:nth-child(159) {
 background: #99CEFF;}
 .pixel:nth-child(166) {
 background: #99CEFF;}
 .pixel:nth-child(167) {
 background: #99CEFF;}
 .pixel:nth-child(168) {
 background: #004D96;}
 .pixel:nth-child(176) {
 background: #004D99;}
 .pixel:nth-child(177) {
 background: #99CEFF;}
 .pixel:nth-child(178) {
 background: #99CEFF;}
 .pixel:nth-child(180) {
 background: #FFFFFF;}
 .pixel:nth-child(184) {
 background: #FFFFFF;}
 .pixel:nth-child(185) {
 background: #99CEFF;}
 .pixel:nth-child(186) {
 background: #99CEFF;}
 .pixel:nth-child(187) {
 background: #004D95;}
 .pixel:nth-child(195) {
 background: #004D99;}
 .pixel:nth-child(196) {
 background: #99CEFF;}
 .pixel:nth-child(197) {
 background: #99CEFF;}
 .pixel:nth-child(198) {
 background: #99CEFF;}
 .pixel:nth-child(199) {
 background: #99CEFF;}
 .pixel:nth-child(200) {
 background: #99CEFF;}
 .pixel:nth-child(201) {
 background: #99CEFF;}
 .pixel:nth-child(202) {
 background: #99CEFF;}
 .pixel:nth-child(203) {
 background: #99CEFF;}
 .pixel:nth-child(204) {
 background: #99CEFF;}
 .pixel:nth-child(205) {
 background: #99CEFF;}
 .pixel:nth-child(206) {
 background: #004D94;}
 .pixel:nth-child(215) {
 background: #004D99;}
 .pixel:nth-child(216) {
 background: #99CEFF;}
 .pixel:nth-child(217) {
 background: #99CEFF;}
 .pixel:nth-child(218) {
 background: #99CEFF;}
 .pixel:nth-child(219) {
 background: #99CEFF;}
 .pixel:nth-child(220) {
 background: #99CEFF;}
 .pixel:nth-child(221) {
 background: #99CEFF;}
 .pixel:nth-child(222) {
 background: #99CEFF;}
 .pixel:nth-child(223) {
 background: #99CEFF;}
 .pixel:nth-child(224) {
 background: #004D99;}
 .pixel:nth-child(234) {
 background: #004D99;}
 .pixel:nth-child(235) {
 background: #99CEFF;}
 .pixel:nth-child(236) {
 background: #99CEFF;}
 .pixel:nth-child(237) {
 background: #99CEFF;}
 .pixel:nth-child(238) {
 background: #99CEFF;}
 .pixel:nth-child(239) {
 background: #99CEFF;}
 .pixel:nth-child(240) {
 background: #99CEFF;}
 .pixel:nth-child(241) {
 background: #99CEFF;}
 .pixel:nth-child(242) {
 background: #99CEFF;}
 .pixel:nth-child(243) {
 background: #004D98;}
 .pixel:nth-child(254) {
 background: #004D99;}
 .pixel:nth-child(255) {
 background: #004D9F;}
 .pixel:nth-child(256) {
 background: #004D9E;}
 .pixel:nth-child(257) {
 background: #004D9D;}
 .pixel:nth-child(258) {
 background: #004D9C;}
 .pixel:nth-child(259) {
 background: #004D9B;}
 .pixel:nth-child(260) {
 background: #004D9A;}
 .pixel:nth-child(261) {
 background: #004D99;}
 .pixel:nth-child(275) {
 background: #004D99;}
 .pixel:nth-child(276) {
 background: #004D99;}
 .pixel:nth-child(277) {
 background: #004D99;}
 .pixel:nth-child(278) {
 background: #004D99;}
 .pixel:nth-child(25) {
 background: #E68A00;}
 .pixel:nth-child(26) {
 background: #E68A00;}
 .pixel:nth-child(27) {
 background: #E68A00;}
 .pixel:nth-child(32) {
 background: #E68A00;}
 .pixel:nth-child(33) {
 background: #E68A00;}
 .pixel:nth-child(34) {
 background: #E68A00;}
 .pixel:nth-child(79) {
 background: #E68A00;}
 .pixel:nth-child(98) {
 background: #E68A00;}
 .pixel:nth-child(117) {
 background: #E68A00;}
 .pixel:nth-child(124) {
 background: #E68A00;}
 .pixel:nth-child(125) {
 background: #E68A00;}
 .pixel:nth-child(142) {
 background: #E68A00;}
 .pixel:nth-child(143) {
 background: #E68A00;}
 .pixel:nth-child(144) {
 background: #E68A00;}
 .pixel:nth-child(145) {
 background: #E68A00;}
 .pixel:nth-child(6) {
 background: #000000;}
 .pixel:nth-child(7) {
 background: #000000;}
 .pixel:nth-child(8) {
 background: #000000;}
 .pixel:nth-child(13) {
 background: #000000;}
 .pixel:nth-child(14) {
 background: #000000;}
 .pixel:nth-child(15) {
 background: #000000;}
 .pixel:nth-child(24) {
 background: #000000;}
 .pixel:nth-child(28) {
 background: #000000;}
 .pixel:nth-child(29) {
 background: #000000;}
 .pixel:nth-child(30) {
 background: #000000;}
 .pixel:nth-child(31) {
 background: #000000;}
 .pixel:nth-child(35) {
 background: #000000;}
 .pixel:nth-child(43) {
 background: #000000;}
 .pixel:nth-child(54) {
 background: #000000;}
 .pixel:nth-child(61) {
 background: #000000;}
 .pixel:nth-child(62) {
 background: #000000;}
 .pixel:nth-child(73) {
 background: #000000;}
 .pixel:nth-child(74) {
 background: #000000;}
 .pixel:nth-child(79) {
 background: #000000;}
 .pixel:nth-child(81) {
 background: #000000;}
 .pixel:nth-child(92) {
 background: #000000;}
 .pixel:nth-child(94) {
 background: #000000;}
 .pixel:nth-child(98) {
 background: #000000;}
 .pixel:nth-child(113) {
 background: #000000;}
 .pixel:nth-child(117) {
 background: #000000;}
 .pixel:nth-child(132) {
 background: #000000;}
 .pixel:nth-child(137) {
 background: #000000;}
 .pixel:nth-child(150) {
 background: #000000;}
 .pixel:nth-child(156) {
 background: #000000;}
 .pixel:nth-child(160) {
 background: #000000;}
 .pixel:nth-child(161) {
 background: #000000;}
 .pixel:nth-child(164) {
 background: #000000;}
 .pixel:nth-child(165) {
 background: #000000;}
 .pixel:nth-child(169) {
 background: #000000;}
 .pixel:nth-child(175) {
 background: #000000;}
 .pixel:nth-child(179) {
 background: #000000;}
 .pixel:nth-child(183) {
 background: #000000;}
 .pixel:nth-child(188) {
 background: #000000;}
 .pixel:nth-child(194) {
 background: #000000;}
 .pixel:nth-child(207) {
 background: #000000;}
 .pixel:nth-child(214) {
 background: #000000;}
 .pixel:nth-child(225) {
 background: #000000;}
 .pixel:nth-child(233) {
 background: #000000;}
 .pixel:nth-child(244) {
 background: #000000;}
 .pixel:nth-child(253) {
 background: #000000;}
 .pixel:nth-child(262) {
 background: #000000;}
 .pixel:nth-child(273) {
 background: #000000;}
 .pixel:nth-child(274) {
 background: #000000;}
 .pixel:nth-child(279) {
 background: #000000;}
 .pixel:nth-child(280) {
 background: #000000;}
 .pixel:nth-child(294) {
 background: #000000;}
 .pixel:nth-child(295) {
 background: #000000;}
 .pixel:nth-child(296) {
 background: #000000;}
 .pixel:nth-child(297) {
 background: #000000;}
